* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    /* IMPOSTAZIONI IMMAGINE BACKGORUND */
    background-image: url('./assets/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position-x: center;
    background-position-y: center;
  
    color: white;
    width: 100vw;
  }
  
  header {
    border: 1px solid white;
  }
  
  header img {
    width: 20%;
    height: 20%;
  }
  h2 {
    font-family: outfit;
  }
  
  #first-container {
    border: 1px solid white;
    width: 75%;
    margin: auto;
    display: none; /*PER VEDERE LA PRIMA PARTE DEVI TOGLIERE QUESTO DISPLAY NONE*/
  }
  
  #promessa {
    display: flex;
    align-items: center;
  }
  #checkbox-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  /*seconda parte - sezione domande*/

  .second-container {
    /*display:none*/
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 800px;
    border: 2px solid white;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    margin-top: 80px;
  }

  #answers {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    width: 800px;
    height: 150px;
    border: 1px solid white;
  }

  #question {
    margin-top: 50px;
  }

  #answers button {
    width: 340px;
    height: 55px;
    color: white;
    border-radius: 27px;
    background-color: rgb(128, 128, 128, 0.2);
    box-shadow: 0px -3px 6px rgb(254, 254, 254, 3.5);
    border: none;
  }

  #answers button:hover {
    background-color: #D20094;
    cursor: pointer;
  }

  #conteggioDomande {
    /*display: none;*/
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 200px;
    left: 50%;
    border: 1px solid white;
    transform: translateX(-50%);
    margin-top: 20px;
    color: #D20094;
  }