* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
  
body {
  /* IMPOSTAZIONI IMMAGINE BACKGORUND */
  background-image: url('./assets/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position-x: center;
  background-position-y: center;
  
  color: white;
  width: 100vw;
  height: 100vh;
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}

header,
.title {
  padding: 35px 0;
}
  
header {
  display: flex;
  justify-content: space-between;
}
  
header img {
  width: 15%;
}

.timer {
  margin-right: 150px;
}

.title {
  font-size: 50px;
}

h1,
h2 {
  font-family: outfit;
}

h1 {
  font-weight: normal;
}

h2 {
  font-size: 85px;
}

h3 {
  color: #d20094;
  font-family: inter;
  font-size: 25px;
  padding-bottom: 10px;
}

header,
#container-generale {
  width: 75%;
  margin: auto;
}

#container-generale {
  height: 88%;

  display: flex;
  flex-direction: column;
  align-items: center;
}
  
#first-container {
  width: 100%;
  height: 100%;
  /*PER VEDERE LA PRIMA PARTE DEVI TOGLIERE QUESTO DISPLAY NONE*/
  }

main {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.instructions {
  width: 55%;
  word-spacing: 5px;
  padding-bottom: 50px;
}

.details {
  padding-left: 25px;
}

ul li {
  padding: 5px 0;
}
  
#promessa {
  display: flex;
  align-items: center;
}

#promessa p {
  padding-left: 15px;
}

#checkbox-container {
  padding: 150px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.checkB {
  appearance: none;
  border: 2px solid white;
  background-color: transparent;
  width: 18px;
  height: 18px;
  text-align: center;
}

.checkB:checked {
  content: '\2713';
  color: white;
}

.checkB {
  cursor: pointer;
}

.checkB:checked:before {
  content: '\2713';
  font-size: 15px;
  line-height: 15px;
  color: white;
}

.bordo-rosso {
  border: 2px solid red;
  background-color: transparent;
  height: 18px;
  width: 18px;
}

#proceed {
  width: 250px;
  height: 60px;
  font-family: inter;
  font-size: 25px;
  font-weight: bold;
  background-color: #00ffff; 
}

#proceed:hover {
  -webkit-box-shadow:0px 0px 25px 5px rgba(0,255,255,0.5);
  -moz-box-shadow: 0px 0px 25px 5px rgba(0,255,255,0.5);
  box-shadow: 0px 0px 25px 5px rgba(0,255,255,0.5);   
  transition: 0.3s;
}

/*seconda parte - sezione domande*/

#nascondi {
  display: none;
}

#second-container {
  display: flex;
  flex-direction: column;
  height: 500px;
  width: 800px;
  border: 2px solid white;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  margin-top: 80px;
}

#answers {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  width: 800px;
  height: 150px;
  border: 1px solid white;
}

#question {
  margin-top: 50px;
}

#answers button {
  width: 340px;
  height: 55px;
  color: white;
  border-radius: 27px;
  background-color: rgb(128, 128, 128, 0.2);
  box-shadow: 0px -3px 6px rgb(254, 254, 254, 3.5);
  border: none;
}

#answers button:hover {
  background-color: #D20094;
  cursor: pointer;
}

#conteggioDomande {
  display: none;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 200px;
  left: 50%;
  border: 1px solid white;
  transform: translateX(-50%);
  margin-top: 20px;
  color: #D20094;
}